@{
    ViewData["Title"] = "Main Menu";
}

<h2>Applying the repository pattern</h2>
<a asp-controller="Ratings" asp-action="List">All ratings</a>
<br />
<a asp-controller="Movies" asp-action="List">All movies</a>
<br />
