@{
    ViewData["Title"] = "Main Menu";
}

<h2>Applying the Repository and Unit of Work pattern</p></h2>
<a asp-controller="Ratings" asp-action="List">All ratings</a>
<br />
<a asp-controller="Movies" asp-action="List">All movies</a>
<br />
<!-- Added button -->
<a asp-controller="Movies" asp-action="Add">Add movies</a>
<br />
