@model IEnumerable<MusicStore.Models.Genre>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Genres
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a asp-area="" asp-controller="" asp-action="" class="dropdown-item">Genre 1</a>
            <a asp-area="" asp-controller="" asp-action="" class="dropdown-item">Genre 2</a>
            <div class="dropdown-divider"></div>
            <a asp-area="" asp-controller="Store" asp-action="ListGenres" class="dropdown-item">More...</a>
        </div>
    </li>